# general temp files 
.DS_Store
.netrwhist
Powerline*.cache
*.pyc
*.swp

# vim ignore
vim/vim/sessions
vim/vim/swap-files
vim/vim/doc/tags
vim/vim/notes-dat

# Java ignore
java/m2/repository
java/gradle/caches
java/gradle/native
java/gradle/wrapper

