# general temp files 
.DS_Store
.netrwhist
Powerline*.cache
*.pyc
*.swp

# vim ignore
vim/*
!vim/.vimrc
!vim/.vim
vim/.vim/bundle/*
!vim/.vim/bundle/vundle.vim
vim/.vim/swp/*

# Java ignore
java/m2/repository
java/gradle/caches
java/gradle/native
java/gradle/wrapper
java/gradle/daemon

# emacs ignore
!emacs/
emacs/*
!emacs/.spacemacs.d/
emacs/.spacemacs.d/custom.el

