# general temp files 
.DS_Store
.netrwhist
Powerline*.cache
*.pyc
*.swp
.vscode

# vim ignore
vim/*
!vim/.vimrc
!vim/.vim
!vim/.gitconfig
!vim/.gitignore_global
!vim/.npmrc
vim/.vim/plugged/
vim/.vim/swp/*
vim/.vim/session/*

# Java ignore
java/m2/repository
java/m2/wrapper
java/gradle/caches
java/gradle/native
java/gradle/wrapper
java/gradle/daemon
java/gradle/notifications
